* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #373b44, #4286f4);
  height: 100vh;
}
.wrapper {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#center {
  margin: 1% auto;
  font-family: tahoma;
  }
 .stopwatch {
      border:1px solid #000;
      border-radius: 20px;
      background-color: #eee;
      text-align: center;
      /* width:656px; */
      height: 230px;
      overflow: hidden;
  }
  .stopwatch span{
      display: block;
      font-size: 100px;
  }
  .stopwatch p{
      display: inline-block;
      font-size: 40px;
  }
  .stopwatch a{
    font-size:45px;
  }
  a:link,
  a:visited{
      color :#000;
      text-decoration: none;
      padding: 12px 14px;
      border: 1px solid #000;
  }